{% extends "_main.jinja" %}

{% block title %} Welcome boi {% endblock %}

{% block main %}
Sem teď vypíšu nějaký random text aby se to ukázalo na obrazovce, a vypadalo to, že tam něco je. Jinak fakt nevím, jak zjistit jednoduše, jestli ten text je na středu obrazovky lol.
{% endblock %}